{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>Budget App</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        
        <nav>
            <div class="nav-wrapper">
               <a href='{% url "profile" %}' class='brand-logo center'> Hi, {{ user }}  </a>
                <ul class="right">
                    <form action= "{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <button class="btn waves-effect" type='submit'>Logout</button>
                     </form>
                </ul>
            </div>
        </nav>
        <br>
        <div class="section">
            <div class="row">
                <form class="col s12" action='{% url "add item" %}' method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="container center">
                            <h3 class='center'>Expenditure of this month: <span style="color:green;">{{ budget|floatformat:"-2" }}</span> dollars</h3>
                            <br>
                            <br>
                            <div class="input-field col s3">
                                <input placeholder="Expense name" name="expense_name" id='expense_name' type='text' class='validate'>
                                <label for='expense_name'>Expense name</label>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder='Amount' name='cost' id='cost' type='text' class='validate'>
                                <label for='cost'>Amount</label>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder='Date of Expense' name="expense_date" id="expense_date" type="text" class='datepicker'>
                                <label for="expense_date">Expense Date</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Add Expense</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="container">
                    <div class="col s6">
                        <table class="striped centered responsive-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Amount(Rs.)</th>
                                    <th>Date</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for obj in uzer %}
                                <tr>
                                    <td class="table-light">{{ obj.item }}</td>
                                    <td class="table-light">{{ obj.cost }}</td>
                                    <td class="table-light">{{ obj.date_added }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col s6">
                        <img class='responsive-img' src= "{% static 'budget_app/expense.jpg' %}">
                    </div>
                </div>
        </div>

            
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {format:'yyyy-mm-dd'});
            });
        </script>
    </body>

</html>