{% load static %}
<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<title>login</title>
</head>
<body>
	<div class="section">
		<div class="container">
			<h2 class="center"> -- Your <b>Budget</b> --<br> Please Sign in.</h2>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<form action= "{% url 'login' %}" method="post">
				{% csrf_token %}
				{{form.as_p}}
				<button class="btn waves-effect" type='submit'>Login</button>
			</form>
			<br>
			Don't have an account?<a href='{% url "sign up" %}'><strong> Create one here. </strong></a>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

